<!DOCTYPE html>
<html>
<head>
  <title>TankManager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="fullscreen-bg">
      <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
          <source src="video/big_buck_bunny.webm" type="video/webm">
          <source src="/assets/tank3.mp4" type="video/mp4">
          <source src="video/big_buck_bunny.ogv" type="video/ogg">
      </video>
  </div>

  <div class="row">
  <div class="col s6 m3">
      <div class="card grey darken-3">
        <div class="card-content white-text">
          <span class="card-title center">Welcome to Tank Manager</span>
          <h5>Login</h5>
          <%= form_for :session, url: login_path do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username %>
          <%= f.label :password %>
          <%= f.password_field :password %>
          <%= f.submit "Log In", :class => 'btn waves-effect waves-light btn' %>
          <% end %>
        </div>
        <div class="card-action">
          <a href=<%= new_user_path %>>Create Account</a>
        </div>
      </div>
  </div>
</div>
