<%= button_to "Back to Your Profile", user_path(@tank.user_id), method: :get %>
<h1>Tank: <%= @tank.name %></h1>

<p>Size: <%= @tank.gallons %> Gallons</p>
<br><br>
<h4>Fish</h4>
  <% @tank.fish.each do |fish| %>
    <%= link_to fish.name, tank_fish_path(@tank, fish) %> <br>
    <%# fish.breed %> <br>
  <br>
  <% end %>
  <br>
<h4>Tank Features</h4>
  <% @tank.tank_features.each do |tank_feature| %>
    <%= link_to tank_feature.name, tank_tank_feature_path(@tank, tank_feature) %>
    <br><br>
  <% end %>
