<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>

  <h2>Tanks</h2>
  <%= button_to "Add Tank", new_user_tank_path(current_user), method: :get %>

  <% if current_user.tanks.empty?  %>

  <% else %>
    <% current_user.tanks.each do |tank| %>
      <h3><%= link_to tank.name, user_tank_path(current_user, tank) %></h3>
        <p>Gallons: <%= tank.gallons %></p>
        <p>Fish: <%= tank.fish_count %></p>
        <%= button_to "Add Fish to Tank", new_tank_fish_path(tank), method: :get %>
    <% end %>
  <% end %>
