<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>

  <h2>Tanks</h2>
  <%= button_to "Add Tank", new_user_tank_path(current_user), method: :get %>

  <% if current_user.tanks.empty?  %>

  <% else %>
  <div class="row">
    <% current_user.tanks.each do |tank| %>
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="/assets/tank1.jpg">
              <span class="card-title"><strong><%= link_to tank.name, user_tank_path(current_user, tank) %></strong></span>
            </div>
            <div class="card-content">
              <p>Gallons: <%= tank.gallons %></p>
              <p>Fish: <%= tank.fish_count %></p>
            </div>
            <div class="card-action">
              <a href=<%= new_tank_fish_path(tank) %>>Add Fish to Tank</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
