<h1><%= @fish.name %>'s Profile Page</h1>

<p> <%= @fish.name %> </p>
<p> <%# @fish.breed %> </p>

<h5>Purchase Information</h5>
<p> <%= @fish.cost %> </p>
<p> <%= @fish.purchase_store %> </p>
<p> <%= @fish.purchase_date %> </p>
